<div #htmlData class="row pr-0 pl-3" style="min-height: 400px;">
  <div class="p-0 m-0 col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div [attr.id]="chartId"></div>
  </div>
  <!-- <div *ngIf="labels" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 p-0 mt-3">
    <div *ngFor="let item of labels">

      <p class=" w-100 pb-0 mb-0 mt-0   ">
        <label class="text-sm  p-0 m-0">{{item.text}}</label>
      </p>
      <p class="  w-100  pb-0 mb-0 mt-0     ">
        <label class="label-bold  p-0 m-0 {{item.cssClass}}">{{ item.value | number:'1.0-2'}} %</label>
      </p>
    </div>
  </div> -->
</div>
<div >

</div>
<!-- <div  class="w-100 text-right">
  <button (click)="downloadAsPDF()" class="btn btn-white">
    <i  class="fa fa-file-pdf-o"></i>
   </button>
   </div> -->
