<div style="width: 100vw; height: 100vh; align-content: center; padding-top: 5%; ">
    <div class="card bg-white  pt-5 pb-5" style="width: 50vw;margin-left: 20vw;">
     
        <div class="w-100 text-center">
            <h4 class="title">¡No tienes permisos!</h4>
          
            <div style="text-align: center !important; width: 100%;">
                <img width="128px" height="128px" src="assets/icons/not-found.svg">
            </div>
            <br>
            <label class="lg">
                Ponte en contacto con el administrador
            </label>
            <br>
  
        </div>
        <!-- <div class="w-100 text-center mt-5">
            <img class=" d-inline mb-2  " src="assets/images/inforap-logo-mini.png" width="48px" height="48px" />
           <br>
            <h4 class="title d-inline">Inforap!</h4>
        </div> -->
    </div>
</div>