<div style="width: 100vw; height: 100vh; align-content: center; padding-top: 5%; " class=" mt-0">
    <div class="card bg-white p-3" style="width: 50vw;margin-left: 20vw;">
        <div style="text-align: center !important; width: 100%;">
            <img width="128px" height="128px" src="assets/images/inforap-logo-mini.png">
        </div>
        <div class="w-100 text-center">         
                <h4  class="title">Bienvenido a Inforap!</h4> 
                <br>
                <label>Gestione de manera simple sus servicios y recursos</label>
        </div>       
    </div>
 </div>