<div class="row p-0 m-0 justify-content-end" style="background: url('assets/images/background-violet.png') ;
background-repeat: no-repeat;
 height: 100vh;
 width: 100vw;
 background-size: 100% 100%;
 overflow: hidden !important;
 overflow-y: hidden !important; padding: 0 !important;">
  <div class="col-lg-4 col-md-6 col-sm-12 col-12  mr-0 pr-0 pb-0 mb-0   ">
    <app-card>
      <div class="card-body pl-4" style="height: 100vh;">
        <div class=" mt-2 position-relative">
          <h2 class="title row ">Bienvenido a Inforap</h2>
          <p class="row  "><label class="bold">Recuperación de contraseña</label></p>
          <div class="row">
            <div class="col-lg-12 col-md-12 con-sm-12 "><label>Ingrese su usuario para recuperar su contraseña</label>
            </div>
          </div>
          <br />
          <app-form (saveEvent)="save()" [formGroup]="formGroup">
            <div class="form-body">
              <app-text-box *ngIf="!showSuccess"
              [labelName]="'Usuario'"
              [class]="'col-lg-10 col-md-10 con-sm-10'"
               [submitted]="submitted"
                [controlName]="'userName'"
                 [form]="formGroup">
              </app-text-box>
             <div  *ngIf="showSuccess" class="col-lg-10 col-md-10 con-sm-10">
               <label class="text-primary">Su contraseña fue restablecida, revise su casilla de e-mail</label>
             </div>
               <br />
              <div class="row ml-0  ">
                <button *ngIf="!showSuccess" type="submit" class="btn btn-primary col-lg-4 col-md-4 col-sm-6">Recuperar<i
                  class="material-icons f-right">lock_open</i></button>
                <a [routerLink]="['/login']"  class="btn btn-default col-lg-4 col-md-4 col-sm-6">Volver<i
                  class="bg-white arrow-left f-left"></i></a>
              </div>              
            </div>
          </app-form>
        </div>
      </div>
    </app-card>

  </div>
</div>
<div style="position: absolute; bottom: 24px; right: 24px;">
  <img width="128px" height="128px" alt="InfoRap!" src="assets/images/inforap-logo-mini.png">
</div>