.mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.content-container{
    margin: 5px 5px 40px 5px;
    text-align: center;
    // padding-bottom: ;
}
  
  
#ok-button{
    height: 40px;
    width: 25%;
    border-radius: 0px;
    margin-left: 37.5%;
}
  
span.content-span{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}