<div class="card-body pl-4 " style=" margin-right: 100px; margin-left: 100px;">
  <div class=" mt-2">
    <h2 class="title row ">{{title}}</h2>
    <label>{{subtitle}}</label>
    <app-form (saveEvent)="save()" [formGroup]="formGroup">
      <div class="form-body">
        <input type="hidden" formControlName="idProvincia" required />
        <input type="hidden" formControlName="id" />
        <input type="hidden" formControlName="active" />
        <div class="row">
          <div class="col-6">
            <app-drop-down-menu 
              [labelName]="'Provincia'"
              [submitted]="submitted" 
              [placeholderName]="'Seleccione ...'" 
              [data]="selprovincias"
              [controlName]="'idProvincia'" 
              [class]="'col-lg-10 col-md-10 col-sm-10'"
              [form]="formGroup">
            </app-drop-down-menu>
          </div>
          <div class="col-6">
            <app-text-box [class]="'col-lg-10 col-md-10 col-sm-10'" [labelName]="'Departamento'" [submitted]="submitted"
              [controlName]="'departamento'" [form]="formGroup">
            </app-text-box>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <app-text-box [class]="'col-lg-10 col-md-10 col-sm-10'" [labelName]="'Localidad'" [submitted]="submitted"
              [controlName]="'localidad'" [form]="formGroup">
            </app-text-box>
          </div>
          <div class="col-6">
            <app-text-box [class]="'col-lg-10 col-md-10 col-sm-10'" [labelName]="'Calle'" [submitted]="submitted"
              [controlName]="'calle'" [form]="formGroup">
            </app-text-box>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <app-text-box [class]="'col-lg-10 col-md-10 col-sm-10'" [labelName]="'Número'" [submitted]="submitted"
              [controlName]="'numero'" [form]="formGroup">
            </app-text-box>
          </div>
          <div class="col-6">
            <app-text-box [class]="'col-lg-10 col-md-10 col-sm-10'" [labelName]="'Referencia'" [submitted]="submitted"
              [controlName]="'referencia'" [form]="formGroup">
            </app-text-box>
          </div>
        </div>
        <br />
        <div class="row ml-0 mb-5  ">
          <button mat-dialog-close="true" type="submit" [disabled]="formGroup.invalid"
            class="btn btn-primary col-lg-3 col-md-4 col-sm-6">{{button}}
            <i class="material-icons f-right">{{icon}}</i>
          </button>
          <button mat-dialog-close="true" class="btn btn-default ml-2 col-3"> Cancelar <i
              class="material-icons f-right">cancel</i></button>
        </div>
      </div>
    </app-form>
  </div>
</div>