<div style="width: 100vw; height: 100vh; align-content: center; padding-top: 5%; ">
    <div class="card bg-white  pt-5 pb-5" style="width: 50vw;margin-left: 20vw;">
     
        <div class="w-100 text-center">
            <h4 class="title">No encontrado</h4>
          
            <div style="text-align: center !important; width: 100%;">
                <img width="64px" height="64px" src="assets/icons/not-found.svg">
            </div>
            <br>
            <label class="lg">
                Ponte en contacto con el administrador
            </label>
            <br>
  
        </div>
    </div>
    <div style="position: absolute; bottom: 24px; right: 24px;">
        <img width="128px" height="128px" alt="InfoRap!" src="assets/images/inforap-logo-mini.png">
      </div>
</div>

